[Locations]

looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
script_file = ./listener_script.py

# Name of the bot in-game
name = ListenerBot

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = The RLBot community

# Short description of the bot
description = A listening tool for getting game packet info.

# Fun fact about the bot
fun_fact =

# Link to github repository
github = https://github.com/RLBot/RLBotPythonExample

# Programming language
language = python
